@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    /* --primary : rgb(200, 20, 20) ; */
    --primary:rgb(250, 116, 6);
    --white: rgb(250,250,250);
}
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif !important;
    line-height: 1.5rem;
}
img {
   
        height: 100%;
        width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
}

h3 {
    margin: 0.45em 0;
}
p,li {
    font-size: 0.84rem;
}

span {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    margin-right: 3px;
    font-size: 0.65rem !important;
    padding: 3px;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    margin-top: 3px;
}

main {
    height: 80vh;
}
.container {
    padding: 0 1rem;
}
.row {
    display: flex;
    align-items: flex-start;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary) !important; 
}
.text-white {
    color: white !important;
}
.text-dark {
    color: #777 !important;
}
.text-upper {
    text-transform: uppercase;
}
.left_side .h_objectif {
    margin-left: 1rem;
}

.section__header {
    padding: 18px 0;
}

.section__header .header__image {
    border: 3px solid white;
    margin-right: 1rem;
    flex-basis: 180px;
    border-radius: 100%;
        overflow: hidden;
}

.left_block {
    margin-bottom: 2.2rem;
}
.left_block p {
    display: flex;
    align-items: flex-start;
}
.left_block h3{
    margin-bottom: 1.5rem;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.skills .skill {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1px 7px;
    font-size: 0.75rem !important;
    font-weight: 500;
}

.smaller {
    font-size: 0.78rem !important;
}
/** main **/
.side_left {
    width: 32%;
    border-right: 1px solid rgb(20, 20, 20,0.1);
    padding-right: 3px;
    height: 180vh;
}


.right_side {
    padding-left: 1rem;
}
.right_side .work {
    margin-bottom: 1rem;
}

.right_side .work h4 {
    /* margin: 0.2rem 0; */
    color: var(--primary);
}
.right_side  h3 {
    margin-bottom: 1.3rem;
    border-bottom: 2px solid var(--primary) !important;
    display: block;
    padding-bottom: 2px;
}

.right_side  ul {
    margin-left: 2rem;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
    }
    .container {
        padding: 0.75rem 0.40in;
    }
    .skills {
        gap: .5rem;
    }
    .skill {
        font-size: 13px !important;
    }
    .container {
        padding: 0 .8rem !important;
    }
 }